---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" style="padding-top: 0;" aria-label="Content">
      <div class="landing-page__container">
        <img src="assets/me.jpg" class="my-photo">
        <h2 class="lp-cite"></h2>
        <a href="/blog" class="blog-link">Blog</a>
      </div>
      <div class="wrapper">
        <div class="home">
            <h1 class="page-heading">Litte about me</h1>

          {{ content }}

        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>
</html>
